@using WebPhongKham.Models.Entity
@{
    ViewData["Title"] = "Danh sách loại khám";
}
@model List<HealthType>


<article class="content dashboard-page">
    <section class="section">
        <!-- Second Modal -->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">Sửa giá</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formEdit" method="post">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Giá</label>
                                    <input type="text" name="price" id="price" />
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <button type="submit" class="btn btn-primary">Lưu giá</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Tên loại khám</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@(String.Format("{0:n0}", item.Price)) VNĐ</td>
                        <td><button data-id="@item.Id" type="button" id="btnEdit" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" class="btn btn-secondary btn-edit"><i data-id="@item.Id" class="fa-solid fa-pen-to-square"></i> Sửa giá</button></td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
        </div>
    </section>

</article>
@section scripts {
    <script>
        $(document).ready(() => {
            $(".btn-edit").click((element) => {
                let id = $(element.target).attr("data-id");
                let path = "/HealthType/DetailsJson/" + id;
                $.ajax({
                    type: "GET",
                    url: path,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: (response) => {
                        $("#price").val(response.price);
                        $("#formEdit").attr("action", "/Accountant/ManageHTPrice/" + id);

                    },
                    failure: function(response) {
                        alert("Fail" + response.responseText);
                    },
                    error: function(response) {
                        alert("Error" + response.responseText);
                    }
                });
            });
        });
    </script>
}