@model WebPhongKham.Models.Entity.User

@{
    ViewData["Title"] = "Sửa tài khoản";
}
<style>
    input{
        padding-left: 1rem;
    }
</style>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">Sửa thông tin người dùng</h5>
                <form class="form-card" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" method="post">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Họ tên<span class="text-danger"> *</span></label>
                            <input type="text" id="fname" asp-for="FullName" placeholder="Họ tên">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Tên tài khoản<span class="text-danger"> *</span></label>
                            <input type="text" id="username" asp-for="UserName">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
                            <input type="text" id="email" asp-for="Email" placeholder="" onblur="validate(3)">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Số điện thoại<span class="text-danger"> *</span></label>
                            <input type="text" id="phone" asp-for="PhoneNumber" placeholder="" onblur="validate(4)">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Địa chỉ</label>
                            <input type="text" id="address" asp-for="Address" placeholder="Địa chỉ" onblur="validate(2)">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Role</label>
                            <select name="role" asp-items="@ViewBag.ListRoles" class="form-control">
                                    <option>--Chọn role--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6"><button type="submit" class="btn btn-primary mx-auto fa-lg gradient-custom-2 mb-3" style="background-color: #010280; width: unset; height: 2.5rem; line-height: 1.5rem">Lưu</button></div>
                        <div class="form-group col-sm-6"><a asp-controller="Home" asp-action="Index" class="btn btn-primary mx-auto fa-lg gradient-custom-2 mb-3" style="background-color: #010280; width: unset; height: 2.5rem; line-height: 1.5rem">Hủy</a> </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>