@using WebPhongKham.Models.Entity
@model User

@if (Model != null)
{
    @if (Model.Role == "admin")
    {
        <li>
            <a asp-controller="HealthType">
                <i class="fa-solid fa-kit-medical"></i> Sức khỏe
            </a>
        </li>
        <li class="active">
            <a asp-controller="Home">
                <i class="fa-solid fa-user"></i> Tài Khoản
            </a>
        </li>

        <li>
            <a asp-controller="Examination">
                <i class="fas fa-sliders-h"></i> Quản lý
            </a>
        </li>
    }
    else if(Model.Role == "Ke toan")
    {
        <li>
            <a asp-controller="Accountant">
                <i class="fas fa-sliders-h"></i> Quản lý
            </a>
        </li>
        <li>
            <a asp-controller="Accountant" asp-action="ManagePrice">
                <i class="fas fa-sliders-h"></i> Quản lý giá
            </a>
        </li>
    }
    else
    {
        <li>
            <a href="#">
                <i class="fas fa-sliders-h"></i> Quản lý
            </a>
        </li>
    }
}